@import "./styles/variables";

.header {
  display: flex;
  justify-content: space-between;
  margin-left: 75px;
  margin-right: 75px;
  margin-top: 22px;
  background: $bgColor;
  @media screen and (max-width: 1090px) {
   display: block;
  }

  &_frameBlock {
    display: flex;
    align-items: center;

    .logo {
      position: relative;
      margin-right: 52px;

      &::before {
        content: "";
        position: absolute;
        background: $primaryColor;
        width: 55px;
        height: 1px;
        bottom: -10px;
        left: 90%;
        transform: rotate(90deg) translate(-50%, 50%);
      }
    }

    .option {

    }

  }

  &_navbar {
    padding: 15px;
  }

  &_buttonBlock {
    display: flex;
    align-items: center;

    .cart {
      background: rgba(239, 239, 239, 0.15);
      border: 1px solid #E8E8E8;
      border-radius: 8px;
      padding: 6px 8px;
    }

    .login {
      display: flex;
      margin-left: 24px;
      background: #F4F4F4;
      border-radius: 8px;
      padding: 12px 8px;
    }
  }

}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

