$textColor: #000000;
$primaryColor: #808080;
$bgColor: #FFFFFF;
$bgSecondColor: #063C43;
$textFontFamily: 'Barlow', sans-serif;
$secondTextFontFamily:  'Product Sans', sans-serif;
$welcomeTextColor:#0F97AA;

